body{
    height: 2000px;
}

/* .podbean-form {
    position: absolute;
    width: 879px;
    height: 453px;
    left: 130px;
    top: 342px;

    border: 1px solid #000000;
    box-sizing: border-box;
} */

/* .title {
    width: 118.5px;
    height: 16.5px;
    left: 208px;
    top: 477px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;

    color: #000000;
} */

/* .title-input {
    width: 775.5px;
    height: 30px;
    left: 203px;
    top: 512px;

    background: linear-gradient(0deg, #ECEAEA, #ECEAEA), #7B7B7B;
    opacity: 0.5;
    border-radius: 21px;
} */

/* .description {
    width: 113px;
    height: 22px;
    left: 209px;
    top: 710px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;

    color: #000000;

} */

/* .description-input {
    width: 785.25px;
    height: 111.75px;
    left: 196px;
    top: 744px;

    background: linear-gradient(0deg, #ECEAEA, #ECEAEA), #7B7B7B;
    opacity: 0.5;
    border-radius: 21px;
} */

