.bigHermImage img {
    height:600px;
    position: right;

}
.header{
    text-align: left;

}

.linkButtons{
    border-radius: 4px;
    text-align: left;
    size: 30px;
}

.publishButton{
    position: right;
    border-radius: 4px;
}

.buttonLeft img {
    width: 200px;
    object-fit: contain;
    transition: all .4s;
   border-radius: 4px;

}

.buttonLeft img:hover {
    background-color:whitesmoke;
    cursor: pointer;
}

.buttonLeft button {
    padding: 0;
}
