body {
    background-color: #EBEFF0;
    /* font-family:'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 1.5em;
    
}



.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #f0f0f0;
    width: 40%;
    height: 250px;
    margin: 20px auto;
    padding: 35px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 2px #cccccc;
    
}

form h1 {
    margin-top: 0;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    padding: 4px 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
}

.pwInput{
    margin-bottom: 20px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}


.buttonClass{
    
    background: #006487;
    color: white;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 5px;
    transition: all .3s;
    
}
.buttonClass:hover{
    background: rgb(182, 91, 39);
}

/* .myButton --> for primary call to action */
.myButton {
	-moz-box-shadow: 0px 5px 7px -2px #cfcfcf;
	-webkit-box-shadow: 0px 5px 7px -2px #cfcfcf;
	box-shadow: 0px 5px 7px -2px #cfcfcf;
	background-color:#006487;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#EBEFF0;
	font-size:16px;
	font-weight:bold;
	padding:13px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #002A38;
}
.myButton:hover {
    background-color:#1F7FA1;
    -moz-box-shadow: 0px 10px 14px -2px #cfcfcf;
	-webkit-box-shadow: 0px 10px 14px -2px #cfcfcf;
	box-shadow: 0px 10px 14px -2px #cfcfcf;
}
.myButton:active {
	position:relative;
	/* top:1px; */
}
