/* Rectangle 3.1 */
.item-box {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;

}


.boxHeader{
    text-align: center;
}

.icons{
    height: 60px;

}

.checkBox{
    text-align: center;
}
.platform-heading {
    text-align: center;
    margin-top: 20px;
}

.wordpress-label {
    width: 322px;
    height: 74px;
    left: 144px;
    top: 561px;

    /* background: url(WordPress-logotype-standard.png); */
}

.line {
    width: 298.24px;
    height: 0px;
    text-align: center;
    margin: 10px auto;
    border: 1px solid #000000;
    /* transform: rotate(0.17deg); */
}

.grid-container {
    display: grid;
    margin: 40px 40px;
    grid-template-columns: repeat(3, 12fr);
    grid-template-rows: repeat(1, 30vw);
    grid-gap: 15px;
}

.grid-item1 {
    grid-column-start: 1;

}

.grid-item2 {
    grid-column-start: 2;
  

    
}

.grid-item3 {
    grid-column-start: 3;
   background: linear-gradient(#ffffff,transparent);
   background-color: #6161614d;

 
   
}

.grid-item3 .boxHeader,
.grid-item3 .line,
.grid-item3 .checkBox {
    opacity: .3;
}

.checkboxSquare{
    width: 30px; 
  height: 30px; 
}


.centered {
  position: relative;
  top: 10%;
  left: 26%;
  transform: translate(-20%, -20%);
  font-size: 50px;
  font-style: bold;
}

